/*Reset*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.p-index p{
    color: #ffffff;
}

.logo-img{
    width: 20rem;
    height: 15rem;
}

.titulo{
    font-size: 5rem;
    font-weight: bold;
    color: #f3cd85;
    text-align: center;
    margin-top: 1rem;
}

div img {
    max-width: 100%;
}

li a img{
    max-width: 15%;
}




/*Productos*/

.card {
    width: 15rem;
}


.card-img-top {
    width: auto;
}

.h4 {
    color: #f3cd85;
}

.card-imagen{
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 768px) {
    .logo-img{
        width: 15rem;
        height: 10rem;
    }

    .titulo{
        font-size: 1.5rem;
    }
}