.logo-img{
    max-width: 100%;
    height: 30rem;
}

.titulo{
    font-size: 5rem;
    font-weight: bold;
    color: $brown-arena;
    text-align: center;
    margin-top: 1rem;
}

.active{
    font-style: italic;
    
}