.logo-img{
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid $black;
    border-radius: 5px;
}

.titulo{
    font-size: 5rem;
    font-weight: bold;
    color: $brown-arena;
    text-align: center;
    margin-top: 1rem;
}

.active{
    font-weight:bold;
}