/*Productos*/

.card {
  background-color: $brown-oscuro;
  border: 1px solid $black !important;
  // box-shadow: 0px 1px 10px $white;
  transition: all 400ms ease;

  &:hover {
    border: 1px solid $white !important;
    transform: translateY(-3%);
  }
}

.btn {
  background: $black;
  color: $white;
  border-color: $gray;
  border-radius: 3px;
  font-weight: bold;

  &:hover {
    background-color: $white;
    color: $black;
  }

  &-contacto {
    background-color: $white;
    color: $black;
    border-color: $black;

    &:hover {
      background-color: $black;
      color: $gray;
      border-color: $white;
    }
  }
}

.gh--carousel-img {
  max-width: 100%;
}

.gh--carousel-caption {
  font-size: 1rem;
  color: $white;
  text-shadow: $black 1px 1px 1px;
  font-style: normal;

  h5 {
    font-size: 2rem;
    color: $white;
    font-style: normal;
    text-shadow: $black 1px 1px 1px;
  }
}

/*Contacto*/

.mapa {
  max-width: 100%;
  height: 250px;
  margin-top: 20px;
  padding-left: 10px;
}

/*Carrito*/

.gh-table{
  background-color: whitesmoke;
  align-items: center;
  text-align: center;

  & td{
    align-content: center;
  }
}

.gh-input{
  text-align: center;
}
