.p-index {
     p{
        color: $white;
     }
}

div{
    img{
        max-width: 100%;
    }
}

li {
    a{
        img{
            max-width: 100%;
        }
    }
}

.gh-h1{
    color: $white;
}

.gh-h2{
    color: $white;
}
/*Productos*/

.gh-h4{
    color: $white;
}

.card{
    width: 15rem;
    border: $black;
    &-img{

        &-top{
            width: auto;
        }
    }

    &-imagen{
        margin-top: auto;
        margin-bottom: auto;
    }

    &-body{
        background-color: $brown-oscuro;
    }
}

.h4{
    color: $brown-arena;
}

.btn{
    background-color: $black;
    color: $gray;
    border-color: $black;

    &:hover{
        background-color: $white;
        color: $black;
    }

    &-contacto{
        background-color: $white;
        color: $black;
        border-color: $black;
        &:hover{
            background-color: $black;
            color: $gray;
            border-color: $white;
        }
    }

}

