@media (max-width: 768px) {
    .logo-img{
        width: 100%;
        height: 14rem;
    }

    .titulo{
        font-size: 1.5rem;
    }
    .img-articulo{
        height: 20rem;
    }
    .categoria{
        justify-content: center;
    }
}